[Desktop Entry]
Name=Xscorch
Comment=A Scorched Earth clone
Comment[pl]=Klon gry Scorched Earth
Exec=xscorch
Icon=xscorch.png
Terminal=false
Type=Application
# vi: encoding=utf-8
